.SignupPage {
    width: 100vw;
    height: 100vh;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 1px;
}

.SignupPage form {
    width: 360px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.SignupPage form input{
    width: 100%;
    height: 45px;
    padding-left: 15px;
    background-color: #292A2B;
    border: none;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    color: white;
}

.SignupPage form input.email{
    pointer-events: none;
}

.SignupPage form .Row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.SignupPage form button{
    width: 136px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #E02735;
    border: none;
    color: white;
}

.SignupPage img {
    width:120px;
    margin-bottom:30px;
}

@media (max-width: 380px) {
    .SignupPage form {
        width: 90%;
        height: 240px;
    }

    .SignupPage form .Row{
        justify-content: center;
    }
}