.theme-text-light {
    color: #ffffff;
}

.theme-link {
    color: #0E81C2;
}

.theme-bg-light {
    background-color: #ffffff;
}

.theme-bg-dark-1 {
    background-color: #292A2B;
}

.theme-bg-dark-2 {
    background-color: #222224;
}

.theme-bg-dark-3 {
    background-color: #1E1E1F;
}

.theme-bg-dark-4 {
    background-color: #0A0A0A;
}

.theme-btn-accent {
    border-color: #172A35;
    background-color: #172A35;
    color: #ffffff;
    border-radius: 0;
}

.theme-btn-accent:hover {
    border-color: #172A35;
    background-color: #ffffff;
    color: #172A35;
    border-radius: 0;
}

.theme-btn-mainbrand {
    border-color: #E02735;
    background-color: #E02735;
    color: #ffffff;
    border-radius: 0;
}

.theme-btn-mainbrand:hover {
    border-color: #68141b;
    background-color: #68141b;
    color: #ffffff;
    border-radius: 0;
}

.theme-btn-dark-2 {
    border-color: #222224;
    background-color: #222224;
    color: #ffffff;
    border-radius: 0;
}

.theme-btn-dark-2:hover {
    border-color: #1E1E1F;
    background-color: #1E1E1F;
    color: #ffffff;
    border-radius: 0;
}

.theme-btn-dark-4 {
    border-color: #0A0A0A;
    background-color: #0A0A0A;
    color: #ffffff;
    border-radius: 0;
}

.theme-btn-dark-4:hover {
    border-color: #1E1E1F;
    background-color: #1E1E1F;
    color: #ffffff;
    border-radius: 0;
}

/* Navigation styles */

/*.navbar {*/
/*    background-color: #222224;*/
/*}*/

/* AdminView styles */

.progressBar {
    background-color: #E02735 !important;
    max-width: 53%;
}

.acceptedFile {
    line-height: 2.5;
}

@media (min-width: 992px) {
    .reader {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .reader {
        max-width: 600px;
    }
}