.ForgottenPasswordPage {
    width: 100vw;
    height: 100vh;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 1px;
}

.ForgottenPasswordPage form {
    width: 360px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ForgottenPasswordPage form input{
    width: 100%;
    height: 45px;
    padding-left: 15px;
    background-color: #292A2B;
    border: none;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    color: white;
}

/*.ForgottenPasswordPage form  button{*/
/*    width: 150px;*/
/*    height: 45px;*/
/*    font-size: 16px;*/
/*    font-weight: 400;*/
/*    letter-spacing: 1px;*/
/*    background-color: #E02735;*/
/*    border: none;*/
/*    color: white;*/
/*}*/

.ForgottenPasswordPage img {
    width:120px;
    margin-bottom:30px;
}

@media (max-width: 380px) {
    .ForgottenPasswordPage form {
        width: 90%;
        height: 220px;
    }
}